body{margin: 0px;
background-image: url(BG2.png);background-size: cover;}
  /*ul{list-style: none;}*/
  .top a {text-decoration: none;color: black;}
    .top li{; display: inline;padding: 1px 10px 1px 10px;
      border: 0px solid gray ;
      border-radius: 15px;
    background-color: #9fb6c3;}
    .top{text-align: center;padding: 0px; font-size: 110%;
      margin: 20px auto 0px auto
    }
    h1 {text-align: center; font-size: 275%;margin: 15px;}
    .grid{
      display: grid;
      grid-template-columns: 150px 650px;  background-color: white;
      margin : 0 auto; width:800px; border-radius: 15px;
    }
    .grid ul{border-right: 1px solid black;margin: 0px;padding-left: 30px;
      padding-top: 15px;
    }
    .grid p{padding-left: 15px;}
    a{text-decoration: none;color: gray;}
    @media(max-width:700px){
      .grid{grid-template-columns: 150px 350px;width: 500px;}
    }
